:root {
    /* ფონტები */
    --font-alk-sanet: "ALK Sanet", sans-serif;
    --font-nino-bold: "BPG Nino Mtavruli Bold", sans-serif;

    /* ფერები */
    --color-purple: #5A1162;
    --color-blue-1: #161743;
    --color-blue-2: #0072BB;
    --color-blue-3: rgba(0, 115, 187, .29);
    --color-white: #ffffff;
}