/* ჰედერი */
.header {
    height: auto;
    width: 100%;
    background-color: var(--color-blue-4);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    transition: all .3s ease-in;

    &__content {
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 1200px;
        margin: 0 auto;

        transition: all .3s ease-in;
    }

    &__site-title {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: auto;
            height: 6rem;

            transition: all .3s ease-in;
        }
    }

    &__title {
        font-family: var(--font-nino-bold);
        font-size: 1.3125rem;
        color: var(--color-white);
        margin-bottom: 0;

        transition: all .3s;
    }

    &__search {
        width: 100%;
        display: none;
        align-items: center;
        justify-content: space-between;
    }
}

.shrink {
    background-color: var(--color-blue-2);

    .header__content {
        height: 5rem;
    }

    h1 {
        display: none;
    }

    .header__site-title__logo {
        transform: scale(.8);
    }
}

/* Search */
input[type="search"].search__input {
    border: none;
    padding: .6rem 1rem;
    margin-bottom: 0;
    width: 80%;
    display: block;
    background: transparent;
    box-shadow: none;
    outline: none;

    font-size: 1.2rem;
    font-family: var(--font-rioni);
    color: var(--color-white);
    letter-spacing: 1px;
}

.close-btn {
    font-size: 3rem;
    display: inline-block;
    color: var(--color-white);
    transition: color .3s linear;
    transform: translateY(-5px);
    cursor: pointer;

    &:hover {
        color: #dcdee0;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--color-white);
    font-family: var(--font-alk-sanet);
    font-size: 1.6rem;
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--color-white);
    font-family: var(--font-alk-sanet);
    font-size: 1.6rem;
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--color-white);
    font-family: var(--font-alk-sanet);
    font-size: 1.6rem;
}
:-moz-placeholder { /* Firefox 18- */
    color: var(--color-white);
    font-family: var(--font-alk-sanet);
    font-size: 1.6rem;
}