.section {
	margin-top: 5rem;
	margin-bottom: 110px;

	&--seasons {
		margin-top: 13rem;
	}

	&__container {
		width: 1200px;
		margin: 0 auto;
		position: relative;

		&--flex {
			display: flex;
			justify-content: space-between;
			align-items: center;

			margin-bottom: 100px;
		}
	}

	&__title {
		width: 156px;
		height: 112px;
		border: 20px solid var(--color-blue-4);

		position: relative;
	}

	&__line {
		width: 40%;
		height: 2px;
		background-color: var(--color-blue-2);
	}

	&__heading {
		font-family: var(--font-nino-bold);
		font-size: 3rem;
		color: var(--color-white);
		white-space: nowrap;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-46%);
	}
}