/* პირველი სლაიდერი */
.slider {
    height: auto;
    padding: 1.75rem;
    border: 2.125rem solid var(--color-blue-3);

    .owl-prev {
        left: -80px;
    }

    .owl-next {
        right: -80px;
    }
}

.slide {
    width: 100%;
    background-color: var(--color-blue-3);
    padding: 4rem 8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__title {
        font-family: var(--font-nino-bold);
        font-size: 2.25rem; /* 36px */
        color: var(--color-white);

        text-align: center;
        margin-bottom: 96px;
    }

    &__content {
        font-family : var(--font-alk-sanet);
        font-size : 1.3125rem; /* 21px */
        line-height : 2.375rem; /* 38px */
        letter-spacing : 0.17px;
        color: var(--color-white);
    }
}

.owl-carousel {
    position: relative;
}

.owl-prev,
.owl-next {
    display: inline-block;
    background-color: transparent;
    border: solid var(--color-blue-3);
    border-width: 0 6px 6px 0;
    padding: 16px;
    cursor: pointer;
    outline: none;

    position: absolute;
    top: 50%;
}

.owl-prev span,
.owl-next span {
    display: none;
}

.owl-prev {
    left: -46px;
    transform: translateY(-50%) rotate(135deg);
}

.owl-next {
    right: -46px;
    transform: translateY(-50%) rotate(-45deg);
}