/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    height: auto !important; /* overriding docs.theme.min.css */

    @media only screen and (max-width: 1920px) {
        font-size: 13px;
    }
}

.pre-index,
.pre-index body {
    margin: 0;
    overflow: hidden;
}

body {
    // background: linear-gradient(to right bottom, var(--color-purple), var(--color-blue-1));
    background: linear-gradient(to right, var(--color-purple), var(--color-blue-1));
    background-repeat: no-repeat;
    background-size: cover;
    height: auto !important; /* overriding docs.theme.min.css */
}

ul,h1,h2,h3,h4 {
	margin-bottom: 0px;
	margin-top: 0px;
}