/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    box-sizing: border-box;

    @media only screen and (max-width: 1920px) {
        font-size: 13px;
    }
}

body {
    background: linear-gradient(to right, var(--color-purple), var(--color-blue-1));
}