/* Basic Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    box-sizing: border-box;

    // @media only screen and (max-width: 1920px) {
    //     font-size: 12px;
    // }
}

.pre-index,
.pre-index body {
    margin: 0;
    overflow: hidden;
}

body {
    background: linear-gradient(to right, var(--color-purple) 60%, var(--color-blue-1));
    background-repeat: no-repeat;
    background-size: cover;
}

ul,h1,h2,h3,h4 {
    margin: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    margin: 2px;
    background: var(--color-blue-2);
}