@font-face {
    font-family: 'ALK Sanet';
    src: url('../fonts/alk-sanet-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-sanet-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-sanet-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-sanet-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-sanet-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-sanet-webfont.svg#alk_sanetregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Nino Mtavruli Bold';
    src: url('../fonts/bpg-nino-mtavruli-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-mtavruli-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nino-mtavruli-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nino-mtavruli-bold-webfont.svg#bpg_nino_mtavrulibold') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Rioni Arial';
    src: url('../fonts/bpg-rioni-arial-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-rioni-arial-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-rioni-arial-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-rioni-arial-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-rioni-arial-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-rioni-arial-webfont.svg#bpg_rioni_arialregular') format('svg'); /* Legacy iOS */
}